.inline{
    display: inline;
    background-color: aqua;
}

.block{
    display: block;
    background-color: yellow;
}

.inline-block{
    display: inline-block;
    background-color: blanchedalmond;
    width: 500px;
}

.none{
    display: none;
    background-color: azure;

}

.msg{
    display: none;
    background-color: beige;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    color: red;
}

.hover-botton:hover + .msg{
    display: block;
}